## LIST EXERCISES

1. List Creation and Access
- Create a list with the following elements: 1, 2, 3, 4, 5. Print the third element in the list.

In [2]:
list_example = [1,2,3,4,5]
print(list_example[2])

3

2. List Manipulation

- Append the number 6 to the list created in the previous exercise. Print the updated list.
- Remove the second element from the list. Print the updated list.

In [5]:
list_example = [1,2,3,4,5]
list_example.append(6)
list_example.pop(1)
print(list_example)

[1, 3, 4, 5, 6]

3. List Slicing
- Given the list [10, 20, 30, 40, 50, 60, 70, 80, 90, 100], print the first five elements.
- Print the last three elements of the list.
- Print every second element of the list.

In [27]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(list1[:5])
print(list1[-3:])
print(list1[1::2])

[10, 20, 30, 40, 50]
[80, 90, 100]
[20, 40, 60, 80, 100]

4. List Operations
- Create a list of numbers from 1 to 10. Calculate and print the sum of all elements in the list.
- Find and print the maximum and minimum values in the list.

In [67]:
list2 = [i for i in range(1,11)]
print(list2)

def sum_list(list):
    buffer = 0
    for item in list:
        buffer += item
    return buffer

def min_max(list):
    min = list[0]
    max = 0
    for item in list:
        if item < min:
            min = item
        if item > max:
            max = item
    return min, max

print(f"The sum of all elements in the list is:     {sum_list(list2)}")
print(f"The minimum and maximum elements in the list is:      {min_max(list2)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The sum of all elements in the list is:     55
The minimum and maximum elements in the list is:      (1, 10)

5. List Comprehension
- Create a list of squares for numbers from 1 to 10 using list comprehension. Print the list.

In [7]:
list3 = [int for int in range(1,11)]
list4 = [int*int for int in list3]
print(list3)
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

6. Nested Lists
- Create a list that contains three lists: [1, 2, 3], [4, 5, 6], and [7, 8, 9]. Access and print the element 5 from the nested list.

In [9]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]

w = x+y+z
print(w[4])

5

## STRING EXERCISES

1. String Creation and Access
- Create a string with the value "Hello, World!". Print the first and last character of the string.

In [27]:
string1 = "Hello,World!"
print(string1[0]+string1[-1])
print(string1[0]+string1[-2])

H!
Hd

2. String Slicing
- Given the string "Python Programming", print the substring "Python".
- Print the substring "Programming".

In [38]:
string2 = "Python Programming"
print(len(string2))
print(string2[0:7])
print(string2[7:18])

18
Python
Programming

3. String Methods
- Convert the string "hello, world!" to uppercase and print it.
- Replace "World" with "Python" in the string "Hello, World!" and print the updated string.

In [40]:
string3 = "hello, world!"
print(string3.upper())
print(string3.replace("world", "Python"))

HELLO, WORLD!
hello, Python!

4. String Concatenation
- Concatenate the strings "Hello" and "World" with a space in between. Print the result.

In [44]:
string4 = "Hello"
string5 = "World"
print(f"{string4} {string5}")

Hello World

5. String Splitting
- Given the string "apple,banana,cherry", split it by commas and print the resulting list.

In [60]:
fruits = "apple,banana,cherry"
print(fruits)
print(fruits.split(','))

apple,banana,cherry
['apple', 'banana', 'cherry']

6. String Formatting
- Use string formatting to create a string that says "My name is [name] and I am [age] years old", where [name] and [age] are variables. Print the result.

In [61]:
name = "Otávio"
age = "20"
print(f"My name is {name} and I am {age} years old")

My name is Otávio and I am 20 years old

7. String Reversal
- Write a program that takes a string input from the user and prints the string in reverse order.

In [63]:
print("This program will reverse the order of your string")
user_input = str(input("Write your string here:    "))

def sakasama_no_sekai (string):
    return string[::-1]

print(sakasama_no_sekai(user_input))

This program will reverse the order of your string
raW doolB sraeY dnasuohT hcaelB

## BONUS

1. Palindrome Check
- Write a function that checks whether a given string is a palindrome (reads the same forwards and backwards). Test it with the strings "madam" and "hello".

In [65]:
test1 = "madam"
test2 = "hello"

def palindrome(string):
    if string == string[::-1]:
        return "YES, It is a palindrome"
    else:
        return "NO, It is not a palindrome"

print(palindrome(test1))
print(palindrome(test2))

YES, It is a palindrome
NO, It is not a palindrome

2. List to String Conversion
- Convert the list ['P', 'y', 't', 'h', 'o', 'n'] to a single string "Python". Print the result.

In [74]:
list5 = ['P', 'y', 't', 'h', 'o', 'n']
print(''.join(list5))

Python